<h1>Listing items</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Offer</th>
      <th>Price</th>
      <th>Image url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <%= debug item %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Item', new_item_path %>

attributes:
  id: 64087
  item_id: 4365169641
  item_name: Soflens 59 /Comfort Soczewki Kontaktowe Wys GRATIS
  item_ending_time: 1404853200
  item_thumb: http://img12.allegroimg.pl/photos/128x96/43/65/16/96/4365169641
  item_price: 34.39
  item_hit_count: 190
  item_bid_count: 29
  item_is_buy_now_active: 1
